<main class="main">
  <div class="header">
    <%= link_to quotes_path, class: "flex gap-2 items-center" do %>
      <%= image_tag "arrow_back.svg", class: "flex size-6" %>
      <p class="title">Back to quotes</p>
    <% end %>
  </div>
  <hr class="divider">
  <h1 class="p-2 mt-4">
    <%= @quote.name %>
  </h1>
</main>
